@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Light.ttf) format('truetype');
}
@layer base {
  html {
    font-family: 'Raleway';
  }
}
body {
  font-family: 'Raleway';
  margin: 0;
  color:#48464C;
}
